[flake8]
max-line-length = 88
ignore =
    E203,  # Espace avant ':' (incompatible avec black)
    W503,  # Ligne brisée avant opérateur
    E501   # Lignes trop longues (géré par black)
exclude =
    .venv,
    __pycache__,
    build,
    dist,
    *.egg-info