spacy>=3.8.0,<4.0.0
fr-core-news-sm==3.8.0  # Package de langue français
pandas==2.2.2
transformers==4.49.0
torch==2.6.0 --index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.8
uvicorn==0.34.0